.work {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 1px 1px 2px 1px #00000077;
  position: relative;
  /* overflow: hidden; */
}

.work .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1abc9cef;
  opacity: 0;
  transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  color: #fff;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
